.env
forecasting/testing/wandb
forecasting/testing/weather_partial_test
__pycache__
forecasting/weather/EVIDENCE_MAPPING.md
wandb/
tabpfn-v2-regressor-2noar4o2.ckpt
tabpfn-v3-regressor-v3_20260506_timeseries.ckpt
.lr_find_*
lightning_logs
results/results_master_t*
results/detailed_results_master_t*
checkpoint_seoul_t*
checkpoint_london_t*
checkpoint_washington_t*
/results/tuning/aussortieren
*.sh

